.u-section-1 .u-sheet-1 {
  min-height: 548px;
}

.u-section-1 .u-group-1 {
  width: 1062px;
  background-image: none;
  min-height: 505px;
  margin: 43px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 287px;
  height: 522px;
  margin: -47px -30px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  font-size: 2.7rem;
  margin: -455px 552px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  border-style: none;
  background-image: none;
  margin: 262px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  margin: -316px 344px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 185px;
  }

  .u-section-1 .u-image-1 {
    width: 243px;
    height: 441px;
    margin-top: -76px;
    margin-left: 595px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: -30px;
    margin-left: 595px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 75px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 485px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -10px;
    margin-left: 485px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 380px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 380px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 180px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 334px;
}

.u-section-2 .u-group-1 {
  width: 330px;
  min-height: 230px;
  margin: 52px auto 0 39px;
}

.u-section-2 .u-container-layout-1 {
  padding: 2px 0 0;
}

.u-section-2 .u-image-1 {
  width: 187px;
  height: 274px;
  margin: -46px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  margin: -200px 181px 0 28px;
}

.u-section-2 .u-group-2 {
  width: 330px;
  min-height: 230px;
  margin: -230px auto 0 771px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-2 {
  width: 165px;
  height: 277px;
  margin: -77px -30px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 500;
  margin: -200px 135px 0 0;
}

.u-section-2 .u-group-3 {
  min-height: 230px;
  width: 330px;
  margin: -230px auto 52px 405px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-3 {
  width: 164px;
  height: 253px;
  margin: -53px -30px 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
  margin: -200px 106px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 273px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -198px;
    margin-right: 171px;
    margin-left: 16px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 610px;
  }

  .u-section-2 .u-group-3 {
    width: 390px;
    margin-right: 294px;
    margin-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-2 {
    margin-left: 390px;
  }

  .u-section-2 .u-group-3 {
    margin-right: 307px;
    margin-left: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-2 {
    margin-left: 210px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    margin-right: 240px;
    margin-left: 373px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-right: 40px;
    margin-left: 400px;
  }
}