.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1821px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 32px -121px 0 121px;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: -15px 918px 0 53px;
}

.u-section-1 .u-list-1 {
  min-height: 1502px;
  grid-template-rows: repeat(1, auto);
  height: auto;
  width: 850px;
  margin: 8px auto 0 290px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-auto-rows: calc(33.33% - 6.66667px);
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 9px 0 -6px auto;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 9px 0 -6px auto;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 9px 0 -6px auto;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 9px 0 -6px auto;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-5 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 9px 0 -6px auto;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-6 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 9px 0 -6px auto;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-15 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-7 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 9px 0 -6px auto;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-17 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-8 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 9px 0 -6px auto;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-19 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-9 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 9px 0 -6px auto;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  border-style: none;
  margin: -1496px auto 0 9px;
  padding: 10px 70px 10px 68px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 9px;
  padding: 10px 61px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  border-style: none;
  margin: 10px auto 0 9px;
  padding: 9px 73px 11px 72px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  border-style: none;
  margin: 10px auto 0 9px;
  padding: 10px 65px 10px 64px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 11px;
  padding: 10px 66px 11px 65px;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 9px;
  padding: 9px 86px 11px 84px;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  border-style: none;
  margin: 10px auto 0 9px;
  padding: 10px 74px 11px 72px;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 9px;
  padding: 10px 95px 10px 94px;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 9px;
  padding: 10px 44px 10px 43px;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 9px;
  padding: 10px 89px 10px 87px;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 9px;
  padding: 10px 89px 10px 88px;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 9px;
  padding: 10px 91px;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 9px;
  padding: 10px 90px 10px 89px;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 9px;
  padding: 10px 96px 10px 95px;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 11px;
  padding: 10px 83px 10px 82px;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 11px;
  padding: 10px 74px 11px;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  border-style: none;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 609px 0 0 auto;
  padding: 21px 47px 22px 46px;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  border-style: none;
  font-weight: 600;
  font-size: 1.25rem;
  margin: -82px auto 53px 290px;
  padding: 21px 38px 23px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1820px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 771px;
    margin-left: 41px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1501px;
    margin-top: -385px;
    margin-left: 90px;
  }

  .u-section-1 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-right: 58px;
    margin-left: 46px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 46px;
  }

  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-top: 163px;
  }

  .u-section-1 .u-image-4 {
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-top: 163px;
  }

  .u-section-1 .u-image-5 {
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-top: 163px;
  }

  .u-section-1 .u-image-6 {
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-top: 163px;
  }

  .u-section-1 .u-image-7 {
    margin-left: initial;
  }

  .u-section-1 .u-text-16 {
    margin-top: 163px;
  }

  .u-section-1 .u-image-8 {
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-top: 163px;
  }

  .u-section-1 .u-image-9 {
    margin-left: initial;
  }

  .u-section-1 .u-text-20 {
    margin-top: 163px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-20 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-24 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-25 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-26 {
    margin-top: 589px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3498px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 551px;
  }

  .u-section-1 .u-list-1 {
    min-height: 3010px;
    width: 720px;
    margin-top: -1564px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-rows: calc(20% - 8px);
  }

  .u-section-1 .u-image-1 {
    height: 196px;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 196px;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 196px;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-4 {
    height: 196px;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-5 {
    height: 196px;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-6 {
    height: 196px;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-7 {
    height: 196px;
    margin-left: initial;
  }

  .u-section-1 .u-text-16 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-8 {
    height: 196px;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-9 {
    height: 196px;
    margin-left: initial;
  }

  .u-section-1 .u-text-20 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: 7px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 8902px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 371px;
  }

  .u-section-1 .u-list-1 {
    min-height: 8127px;
    width: 540px;
    margin-top: -6681px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(11.11% - 8.88889px);
  }

  .u-section-1 .u-image-1 {
    height: 174px;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 174px;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 174px;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-top: 102px;
  }

  .u-section-1 .u-image-4 {
    height: 174px;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-top: 102px;
  }

  .u-section-1 .u-image-5 {
    height: 174px;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-top: 102px;
  }

  .u-section-1 .u-image-6 {
    height: 174px;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-top: 102px;
  }

  .u-section-1 .u-image-7 {
    height: 174px;
    margin-left: initial;
  }

  .u-section-1 .u-text-16 {
    margin-top: 102px;
  }

  .u-section-1 .u-image-8 {
    height: 174px;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-top: 102px;
  }

  .u-section-1 .u-image-9 {
    height: 174px;
    margin-left: initial;
  }

  .u-section-1 .u-text-20 {
    margin-top: 102px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5723px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 171px;
  }

  .u-section-1 .u-list-1 {
    min-height: 5117px;
    width: 340px;
    margin-top: -3672px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-7 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-text-16 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-8 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-9 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-text-20 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: 7px;
  }
}